h1{
    color: black;
    font-size: 80px;
    text-align: center ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 100px;
    margin:0;
    
    
}
body{
    margin:0;
    padding:0;
    
}


.container{
    background-image:url(https://i.ibb.co/2Pv2CBq/image.jpg) ;
}
.main{
    width: 90%;
    margin:0 auto;
    background-color: white;
}
h2{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}
p{
    text-align: center ;
    font-size: 20px;
    padding-bottom: 20px;
}
li{
     
}
.img{
text-align: center;
}

.header{

    background-color: white;
}