h1{
    color: black;
    font-size: 200pxs;
    text-align: center ;
    
    
}
body{
    margin:0;
    padding:0;
    
}
h1{
    color:black;
    margin:0;
}
.container{
    background-image:url(https://i.ibb.co/2Pv2CBq/image.jpg) ;
}
.main{
    width: 90%;
    margin:0 auto;
    background-color: white;
}
h2{
    text-align: center
}
p{
    text-align: center 
}
li{
     
}

.header{

    background-color: white;
}